
mixin qUpvote(questionId)
    div(class="qUpVoteTally") #{upvotes}
    div(id=questionId class="question-up-vote") 🔼

mixin qDownvote(questionId)
    div(class="qDownVoteTally") #{downvotes}
    div(id=questionId class="question-down-vote") 🔽

mixin aUpvote(answerId)
    div(class=`tally${answerId}`) #{upvotesA.length}
    div(id=answerId class="answer-up-vote") 🔼

mixin aDownvote(answerId)
    div(class=`tallyDown${answerId}`) #{downvotesA.length}
    div(id=answerId class="answer-down-vote") 🔽
