
mixin qUpvote(questionId)
    div(class="qUpVoteTally") #{upvotes}
    div(id=question.id class="question-up-vote") 🔼

mixin qDownvote(questionId)
    div(class="qDownVoteTally") #{downvotes}
    div(id=question.id class="question-down-vote") 🔽

mixin aUpvote(answerId)
    div(class="aUpVoteTally") #{ansUpvotes}
    div(id=question.Answers.id class="answer-up-vote") 🔼

mixin aDownvote(answerId)
    div(class="aDownVoteTally") #{ansDownvotes}
    div(id=question.Answers.id class="answer-down-vote") 🔽
